
<section class="button-section py-3">
    <div class="container d-flex justify-content-center flex-wrap">
        <button (click) = "afficherApplis('90','50','0', 'Metacritic', 'Les classiques')" class="btn btn-primary  btn-filter mx-2 my-2"> Les classiques</button>
        <button (click) = "afficherApplis('90','50','0', 'Savings', 'Meilleur Promos')" class="btn btn-primary  btn-filter mx-2 my-2">Meilleur promos</button>
        <button (click) = "afficherApplis('90','10','0', 'Metacritic', 'Jeux à + de 10 euros')" class="btn btn-primary  btn-filter mx-2 my-2">Jeux à -10 euros</button>
        <button (click) = "afficherApplis('90','20','0', 'Metacritic', 'Jeux à - de 20 euros')" class="btn btn-primary  btn-filter mx-2 my-2">Jeux à -20 euros</button>
        <button (click) = "afficherApplis('90','50','0', 'Release', 'Jeux récents')" class="btn btn-primary  btn-filter mx-2 my-2">Jeux récents</button>
        <button (click) = "afficherApplis('90','50','30', 'Metacritic', 'Jeux à + de 30 euros')" class="btn btn-primary btn-filter mx-2 my-2">Jeux à +30 euros</button>
    </div>
</section>
<div [innerHTML]="paragraphe" class="container px-4 px-lg-5 mt-5"></div>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
            <div class="col mb-5" *ngFor="let jeu of applis; let i = index" [ngStyle]="{'animation-delay': (i * 0.1) + 's'}">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{jeu.thumb.substring(0,67)}}{{jeu.steamAppID}}/header.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{jeu.title}}</h5>
                            <!-- Product price-->
                            <p *ngIf="jeu.normalPrice === jeu.salePrice">{{ jeu.salePrice }}€</p>
                            <p *ngIf="jeu.normalPrice !== jeu.salePrice">
                              <span class="text-muted text-decoration-line-through">{{ jeu.normalPrice }}€</span> {{ jeu.salePrice }}€
                            </p>
                            <!-- <p>{{jeu.normalPrice}} €</p> -->
                            <!-- <p><s> {{jeu.normalPrice}} </s> {{jeu.salePrice}} € </p> -->
                            
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://store.steampowered.com/app/{{jeu.steamAppID}}" target="_blank">Acheter sur Steam</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


