
<button (click) = "afficherApplis('90','0','0', 'Metacritic')" class="btn btn-primary"> Les classiques</button>
<button (click) = "afficherApplis('90','0','0', 'Savings')" class="btn btn-primary">Meilleur promos</button>
<button (click) = "afficherApplis('90','10','0', 'Metacritic')" class="btn btn-primary">Jeux à -10 euros</button>
<button (click) = "afficherApplis('90','20','0', 'Matecritic')" class="btn btn-primary">Jeux à -20 euros</button>
<button (click) = "afficherApplis('90','0','0', 'Release')" class="btn btn-primary">Jeux récents</button>
<button (click) = "afficherApplis('90','0','30', 'Metacritic')" class="btn btn-primary">Jeux à +30 euros</button>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let jeu of applis">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{jeu.thumb.substring(0,67)}}{{jeu.steamAppID}}/header.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{jeu.title}}</h5>
                            <!-- Product price-->
                            <p>{{jeu.salePrice}} €</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="https://store.steampowered.com/app/{{jeu.steamAppID}}" target="_blank">Acheter sur Steam</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


