
    <!-- <a [routerLink]="['/jeux']" class="btn btn-success btn-lg">Découvrez notre trieur de jeux Steam</a> -->
    <!-- <a [routerLink]="[' ']" class="btn btn-success btn-lg">Accueil</a> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand"><img src="pigeongular.png" style="height:60px; width: 70px; margin-left:10px"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="[' ']">Accueil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/jeux']">Promotions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://store.steampowered.com/" target="_blank" >Steam</a>
          </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button (click)="rechercher('title')" class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
        </form>
      </li>
    </ul>
    </div>
  </nav>
