<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['']">
      <img src="pigeongular.png" class="navbar-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/jeux']">Promotions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://store.steampowered.com/" target="_blank">Aller sur Steam</a>
        </li>
      </ul>
      <form class="d-flex ms-auto">
        <input (keydown.enter)="rechercher(cherche.value)" #cherche class="form-control me-2" type="search" placeholder="Rechercher un jeu" aria-label="Search">
      </form>
    </div>
  </div>
</nav>
