
    <!-- <a [routerLink]="['/jeux']" class="btn btn-success btn-lg">Découvrez notre trieur de jeux Steam</a> -->
    <!-- <a [routerLink]="[' ']" class="btn btn-success btn-lg">Accueil</a> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-brand"><img src="pigeongular.png" style="width: 70px;"></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="[' ']">Accueil </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/jeux']">Promotions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://store.steampowered.com/" target="_blank" >Steam</a>
          </li>
      </ul>
    
    </div>
  </nav>
