<header class="navbar">
      <div class="container">
        <div class="logo">Steam Games</div>
        <nav>
          <ul class="nav-links">
            <li class="nav-item"><a href="#">Accueil</a></li>
            <li class="nav-item"><a href="#">À propos</a></li>
            <li class="nav-item"><a href="#">Services</a></li>
            <li class="nav-item"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <div class="menu-toggle" [class.active]="menuOpen" (click)="toggleMenu()">
            <div class="hamburger-menu"></div>
          </div>
          
      </div>
    </header>
    
  <br><br><br><br><br><br><br><br>
<app-application></app-application>