// Variables de couleur pour le thème
$primary: #b52e31; // Rouge Angular
$dark: #000; // Noir
$background: #b7b7b7;
$light:#b5b5b5;

// Personnalisation des variables Bootstrap
$theme-colors: (
  "primary": $primary,
  "dark": $dark,
  "light": $light
);

// Importation de Bootstrap
@import "bootstrap/scss/bootstrap";


// Styles supplémentaires ou personnalisations
body {
  background-image: url('/background_image.png');
  background-size: cover; /* Assure que l'image couvre tout le body */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center center; /* Centre l'image */
  background-attachment: fixed; /* Optionnel : pour que l'image de fond reste fixe lors du défilement */
  color: $dark;
  font-family: 'Arial', sans-serif;
  backdrop-filter: blur(2px);
  }

a {
  color: $primary;
  
  &:hover {
    color: darken($primary, 10%);
  }
}

nav {
  background-color: $primary;
  color: $light;

  .nav-link {
    color: $light;
    
    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}

footer {
  background-color: $dark;
  color: $light;
  backdrop-filter: blur(2px);
}
.logo-responsive {
  width: 100%;
  max-width: 250px;
  height: auto;
}

@media (max-width: 1200px) {
  .logo-responsive {
    max-width: 150px;
  }
}

@media (max-width: 992px) {
  .logo-responsive {
    max-width: 100px;
  }
}

@media (max-width: 768px) {
  .logo-responsive {
    max-width: 75px;
  }
}

@media (max-width: 576px) {
  .logo-responsive {
    max-width: 60px;
  }
}
/*
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000; // Ajuste cette couleur selon tes besoins
  font-family: 'Arial', sans-serif;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/background_image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: blur(10px); // Ajuste le niveau de flou selon tes besoins 
  z-index: -1; // Place l'image derrière le contenu
}

// Pour s'assurer que le contenu est visible au-dessus du fond flou 
.content {
  position: relative;
  z-index: 1;
  padding: 20px;
}
*/