.card {
      border-radius: 10px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      &:hover {
        transform: scale(1.15);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
      }
    }
    
    .fas {
      margin-right: 5px;
    }
    
    .text-info {
      color: #8D3134 !important;
    }
    
    .text-success {
      color: #28a745 !important;
    }
    
    .shadow {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .text-left-justify {
      text-align: left;
      margin: 0 auto;
    }
